*{
    padding: 0px;
    margin:0px;
}
footer{
    height: 200px;
    display: flex;
    background: rgb(55,55,55);
    background: linear-gradient(0deg, rgba(55,55,55,1) 0%, rgba(0,0,0,1) 100%);
    color:rgb(142, 199, 68);
    text-align: center;
    flex-direction: column;
    font-size: 20px;
}
footer h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer p{
    padding-bottom: 10px;
}
footer div{
    padding-bottom: 10px;
}